[flake8]
# Игнорируемые ошибки
ignore = E203, W503, E501, C901, F401, F841

max-line-length = 119

exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    build,
    dist,
    .pytest_cache,
    .vscode,
    .idea,
    migrations

filename = *.py